body{
    padding: 0;
    margin: 0px;

}
img{
    margin: auto;
    display: block;
    border-radius: 20px;
    align-items: center;
    margin-top: 20px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a {
     color: hsl(228, 45%, 44%); 
    }
 p{
    text-align: center;
 }
    
.qr-all{
    display: block;
    border-radius: 20px;
    align-items: center;
    border: 20px;
    border-style: hidden;
}